<div class="well well-sm col-md-10">
<div class="page-header  col-md-10">
  <h1>
    FAQs:
  </h1>
</div>
<div class="container  col-md-10">
  <h3>
    Why did I make this?
  </h3>
  <p>
    For practice.  Also, I'm frequently on the run or too busy to cook.  This makes hitting my macro's easy if I want a cheap greasy meal.
  </p>
  <h3>
    How do you use this?
  </h3>
  <p>
    Start typing in the "Search Fast Food Items" box, and see if your fast food menu item pops up.  If not, I am slowly adding more food items to the database.
  </p>
  <h3>
    How much fast food do you eat?
  </h3>
  <p>
    Too much.
  </p>
  <h3>
    What about __________ restaurant?
  </h3>
  <p>
    Click the contact me button at the bottom of the page and tell me what you want added.  Fast food places preferably.
  </p>
</div>
</div>
