  <style>
  #feedback { font-size: 1em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
  #selectable li { margin: 3px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 1em; text-align: center; }
  </style>

  <script>
  $(function(){
    $('.ui-state-default').click(function(){
      // alert($(this).data('calories') + " " + $(this).data('protein'));
      $( ".menu-items" ).append( "<li>" + "<h4>" + $(this).data('name') + ": " + "</h4>" + "Calories: " + $(this).data('calories') + " Protein:" + $(this).data('protein') + " Fats:" + $(this).data('fats') + " Carbs:" + $(this).data('carbs') + "</li>");
    });
  });
  </script>

  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( document ).tooltip();
  });
  </script>
  <style>
  label {
    display: inline-block;
    width: 5em;
  }
  </style>

<h1>Wendy's Value Menu</h1>


<ol id="selectable">

  <li class="ui-state-default" data-name= "Crispy Dill Chicken Sandwich" data-calories="420" data-protein="16" data-fats="24" data-carbs="35" title="420 Calories, 16g Protein, 24g Fats, 35g Carbs" class="list-group-item">Crispy Dill Chicken Sandwich</a>

  <li class="ui-state-default" data-name= "Jr. Bacon Cheeseburger" data-calories="370" data-protein="18" data-fats="21" data-carbs="26" title="370 Calories, 18g Protein, 21g Fats, 26g Carbs" class="list-group-item">Jr. Bacon Cheeseburger</a>

  <li class="ui-state-default" data-name= "Value Natural Cut Fries" data-calories="220" data-protein="3" data-fats="2" data-carbs="28" title="220 Calories, 3g Protein, 2g Fats, 28g Carbs" class="list-group-item">Value Natural Cut Fries</a>

  <li class="ui-state-default" data-name= "Spicy Chicken Wrap" data-calories="340" data-protein="17" data-fats="16" data-carbs="30" title="340 Calories, 17g Protein, 16g Fats, 30g Carbs" class="list-group-item">Spicy Chicken Wrap</a>

  <li class="ui-state-default" data-name= "Small Chocolate Frosty" data-calories="340" data-protein="9" data-fats="6" data-carbs="56" title="340 Calories, 9g Protein, 6g Fats, 56g Carbs" class="list-group-item">Small Chocolate Frosty</a>

  <li class="ui-state-default" data-name= "Crispy Chicken Sandwich" data-calories="350" data-protein="13" data-fats="19" data-carbs="34" title="350 Calories, 13g Protein, 19g Fats, 34g Carbs" class="list-group-item">Crispy Chicken Sandwich</a>

  <li class="ui-state-default" data-name= "Small Chili" data-calories="170" data-protein="15" data-fats="5" data-carbs="16" title="170 Calories, 15g Protein, 5g Fats, 16g Carbs" class="list-group-item">Small Chili</a>

  <li class="ui-state-default" data-name= "6 Piece Spicy Chicken Nuggets" data-calories="260" data-protein="15" data-fats="17" data-carbs="14" title="260 Calories, 15g Protein, 17g Fats, 14g Carbs" class="list-group-item">6 Piece Spicy Chicken Nuggets</a>

  <li class="ui-state-default" data-name= "4 Piece Chicken Nuggets" data-calories="180" data-protein="9" data-fats="12" data-carbs="10" title="180 Calories, 9g Protein, 12g Fats, 10g Carbs" class="list-group-item">4 Piece Chicken Nuggets</a>

  <li class="ui-state-default" data-name= "Garden Side Salad" data-calories="210" data-protein="4" data-fats="13" data-carbs="18" title="1210 Calories, 4g Protein, 13g Fats, 18g Carbs" class="list-group-item">Garden Side Salad</a>

  <li class="ui-state-default" data-name= "Jr. Cheeseburger" data-calories="280" data-protein="15" data-fats="12" data-carbs="26" title="280 Calories, 15g Protein, 12g Fats, 26g Carbs" class="list-group-item">Jr. Cheeseburger</a>

  <li class="ui-state-default" data-name= "Grilled Chicken Wrap" data-calories="260" data-protein="19" data-fats="10" data-carbs="25" title="260 Calories, 19g Protein, 10g Fats, 25g Carbs" class="list-group-item">Grilled Chicken Wrap</a>

  <li class="ui-state-default" data-name= "Ceasar Side Salad" data-calories="250" data-protein="7" data-fats="18" data-carbs="18" title="250 Calories, 7g Protein, 18g Fats, 18g Carbs" class="list-group-item">Ceasar Side Salad</a>

  <li class="ui-state-default" data-name= "Double Stack" data-calories="390" data-protein="24" data-fats="20" data-carbs="26" title="390 Calories, 24g Protein, 20g Fats, 26g Carbs" class="list-group-item">Double Stack</a>

  <li class="ui-state-default" data-name= "4 Piece Spicy Chicken Nuggets" data-calories="170" data-protein="10" data-fats="11" data-carbs="9" title="170 Calories, 10g Protein, 11g Fats, 9g Carbs" class="list-group-item">4 Piece Spicy Chicken Nuggets</a>

  <li class="ui-state-default" data-name= "6 Piece Chicken Nuggets" data-calories="270" data-protein="14" data-fats="18" data-carbs="14" title="270 Calories, 14g Protein, 18g Fats, 14g Carbs" class="list-group-item">6 Piece Chicken Nuggets</a>

  <li class="ui-state-default" data-name= "Jr. Cheeseburger Deluxe" data-calories="340" data-protein="16" data-fats="18" data-carbs="28" title="340 Calories, 16g Protein, 18g Fats, 28g Carbs" class="list-group-item">Jr. Cheeseburger Deluxe</a>
  </ol>

