<h1><strong>Click on a fast food restaurant to search their menu</strong></h1>
<p>Typing in the menu item will bring you a list of menu items, where you can add their macros to your daily total</p>
<p>Hover over the menu item for a quick look at calories, protein, fats and carbs!  </p>

<A HREF="/mcdonalds#index"><IMG SRC="http://img1.wikia.nocookie.net/__cb20100717060808/logopedia/images/a/a9/Mcdonalds-90s-logo.svg" alt="Logo" height="200"></a>

<A HREF="/wendys#index"><IMG SRC="http://img4.wikia.nocookie.net/__cb20120801060239/logopedia/images/b/be/Wendy's_Shorthand_Logo.png" alt="Logo" height="230"></a>

<A HREF="/tbell#index"><IMG SRC="http://img2.wikia.nocookie.net/__cb20100117213647/logopedia/images/4/45/Taco_Bell.svg" alt="Logo" height="260"></a>
